body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Trebuchet MS', sans-serif;
}
img {
  width: 100%;
}
header h3{
  margin: 0;
  background: #4756F8;
  color: white;
  padding: 3px 6px;
}
.container{
  margin-bottom: 0px;
}
.cover-img{
  padding: 30px;
  height: 30vw;
  overflow: hidden;
  position: relative;
}
.cover-img img{
  border-radius: 35px 35px 0 0;
}
.profile-img{
  width: 20vw;
  height: 20vw;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid #BFBFBF;
  position: relative;
  left: 40vw;
  top: -10vw;
}
.profile-img img{
  width: 40vw;
}
.user-name{
  margin-top: -50px;
  text-align: center;
}
.bio{
  text-align: center;
  padding: 0 10vw;
}
.location{
  padding-left: 10vw;
}